/* General */

.show {
	opacity: 1 !important;
	visibility: visible !important;
	z-index: 1;
  	transition: visibility 0s linear 0s, opacity 300ms !important;
}

.wrap {
	max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
	background-color: $background;
	position: relative;
	overflow: hidden;
}

.relative {
	position: relative;
}

.container {
	position: relative;
	top: -167px;
	left: 0;
    margin: 0 auto;
    right: 0;
	max-width: 980px;
	margin: 0 auto;
}

.blur-filter {
    -webkit-filter: blur(2px);
    -moz-filter: blur(2px);
    -o-filter: blur(2px);
    -ms-filter: blur(2px);
    filter: blur(2px);
}

.rotate {
	transform:rotate(180deg);
    -ms-transform:rotate(180deg);
    -webkit-transform:rotate(180deg);
}

/* Tab Menu */

.tabcontent {
	@include box-shadow(0, 5px, 3px, rgba(0, 0, 0, 0.05));
	@include border-radius(5px);
    width: 100%;
    height: 270px;
    padding: 53px 50px 50px 40px;
    margin: 0;
    background-color: $white;
}

.tabcontent__text-container {
	width: 480px;
	margin-right: 170px;
	display: inline-block;
	vertical-align: middle;
}

.tabcontent__image-container {
	display: inline-block;
	vertical-align: middle;
}

.tabcontent__title {
	font-size: 40px;
	font-family: museosans_900;
	color: $orange;
	margin: 0;
	padding-bottom: 22px;
}

.tabcontent__text {
	font-family: museosans_300;
	font-size: 16px;
	color: $text-color;
	line-height: 32px;
	padding-bottom: 28px;
	margin: 0;
}

.tabcontent__list {
	margin: 0;
	padding: 0;
	li {
		display: inline-block;
		margin-right: 37px;
	}
}

.tabcontent-btn__edit {
	@include border-radius(21px);
	position: relative;
	font-size: 14px;
	font-family: museosans_700;
	text-align: center;
	background-color: $blue;
	color: $white;
	padding: 13px 36px;
	text-decoration: none;
	cursor: pointer;
	&::after {
		content: '';
		vertical-align: middle;
		display: inline-block;
		width: 8px;
		height: 12px;
		padding-left: 26px;
		background-position-x: 26px;
		background-image: url("../img/arrow-right-icon.png");
		background-repeat: no-repeat;
	}
}

.tabcontent-btn__add {
	font-size: 14px;
	font-family: museosans_700;
	text-decoration: none;
	text-align: center;
	color: $blue;
	cursor: pointer;
	&::after {
		content: '';
		display: inline-block;
		width: 19px;
		height: 19px;
		background-image: url("../img/info-icon.png");
		background-repeat: no-repeat;
		vertical-align: middle;
		margin-left: 8px;
	}
}

.tab-content-radius {
	@include border-top-left-radius(0);
	@include border-top-right-radius(0);
}

.tab {
	list-style: none;
	padding: 0;
	margin: 0;
	li {
		display: table-cell;
		text-align: center;
		width: 196px;
		height: 108px;
		a {
			text-decoration: none;
			padding-top: 21px;
			width: 196px;
			height: 108px;
			display: block;
		}
	}
	
}

.tab-menu__title {
	display: block;
	font-size: 14px;
	font-family: museosans_700;
	color: $white;
	padding-top: 13px;
}

.active {
	@include border-top-left-radius(5px);
	@include border-top-right-radius(5px);
	background-color: $white;
	.tab-menu__title {
		color: $light-black;	
	}
	span {
		color: $blue;
	}
	
}

/* Tab menu icons */

.icon {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  font-size: 42px;
  text-transform: none;
  color: $white-blue;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-appointments:before {
  content: "\e900";
}
.icon-health:before {
  content: "\e901";
}
.icon-medical:before {
  content: "\e902";
}
.icon-prescriptions:before {
  content: "\e903";
}
.icon-uploads:before {
  content: "\e904";
}

/* Edit message */

.edit-message {
	@include border-radius(5px);
	position: relative;
	position: fixed;
	width: 310px;
	bottom: 40px;
	left: 20px;
	background-color: $light-black;
	padding: 20px 0 20px 18px;
	visibility: hidden;
  	opacity: 0;
  	transition: visibility 0s linear 300ms, opacity 300ms;
  	&::before {
		content: '';
		display: inline-block;
		width: 32px;
		height: 32px;
		background-image: url("../img/successful-icon.png");
		background-repeat: no-repeat;
		vertical-align: middle;
		margin-right: 15px;
	}
}

.edit-message__text {
	color: $white;
	font-size: 14px;
	display: inline-block;
	font-family: museosans_700;
}

.edit-message__close {
	position: absolute;
	top: 17px;
	right: 19px;
	width: 11px;
	height: 11px;
	background-image: url("../img/close-edit-message-icon.png");
	display: block;
	cursor: pointer;
}

/* Add Message */

.add-message {
	visibility: hidden;
  opacity: 0;
	height: 1945px;
  transition: visibility 0s linear 300ms, opacity 300ms;
	position: absolute;
  background-color: rgba(251, 251, 251, 0.7);
  top: 0;
	left: 0;
  bottom: 0;
  right: 0;
}

.add-message__content {
	@include border-radius(5px);
	@include box-shadow(0, 0, 11px, rgba(0, 0, 0, 0.20));
	position: fixed;
	max-width: 660px;
	padding: 40px 20px 30px 20px;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: $white;
	text-align: center;
}

.add-message__text-wrap {
	padding: 38px 0 33px 0;
	margin-bottom: 30px;
	border-bottom: solid $grey 1px;
	border-top: solid $grey 1px;
}

.add-message__title {
	width: 100%;
	font-size: 28px;
	font-family: museosans_700;
	color: $light-black;
	padding-bottom: 40px;
	display: block;
}

.add-message__text {
	font-family: museosans_300;
	font-size: 14px;
	line-height: 24px;
	color: $dark-grey;
	margin: 0;
	padding-bottom: 40px;
}

.add-message__close {
	position: absolute;
	top: 45px;
	right: 20px;
	width: 16px;
	height: 16px;
	background-image: url("../img/close-icon.png");
	display: block;
	cursor: pointer;
}

.add-message__voucher {
	label {
		font-size: 14px;
		font-family: museosans_700;
		margin-right: 24px;
		color: $dark-grey;
	}
	input {
		@include border-radius(5px);
		width: 333px;
		padding: 14px 0 14px 19px;
		border: solid #cdcdcd 1px;
		@include placeholder {
		 	font-family: museosans_300;
		 	font-size: 14px;
		    color: #494949;
		}
	}
}

.add-message__btn {
	@include border-radius(20px);
	font-family: museosans_700;
	max-width: 197px;
	text-align: center;
	font-size: 14px;
	padding: 9px 27px;
	margin: 0 auto;
	display: block;
	cursor: pointer;
	color: $white;
	background-color: $indigo-blue;
}

/* Tab Menu Mobile */

.tab-menu-mobile {
	display: block;
	width: 100%;
}

/* Content */

.content {
	width: 100%;
	display: inline-flex;
	margin: 29px 0 195px 0;
}

/* Content Detail */
.content-detail {
	@include border-radius(5px);
	@include box-shadow(0, 0, 11px, rgba(0, 0, 0, 0.20));
	width: 700px;
	padding: 0 40px;
	background-color: $white;
	display: inline-block;
}

.content-detail__list {
	margin: 0;
	padding: 0;
	li {
		width: 100%;
		padding: 23px 0 33px 0;
		border-bottom: solid 1px $grey;
		display: block;
		&:last-child {
			border-bottom: none;
		}
	}
}

.content-detail__text-wrap {
	width: 100%;
	display: block;
	padding-bottom: 24px;
}

.content-detail__title {
	font-family: museosans_700;
	font-size: 20px;
	display: inline-block;
	color: $light-black;
	&::before {
		content: '';
		display: inline-block;
		margin-right: 15px;
		width: 26px;
		height: 26px;
		background-image: url("../img/cure-icon.png");
		background-repeat: no-repeat;
		vertical-align: middle;
	}
}

.content-detail-link__edit {
	@include border-radius(20px);
	display: inline-block;
	float: right;
	font-size: 12px;
	font-family: museosans_700;
	border: solid #004ef8 2px;
	color: #004ef8;
	width: 77px;
	text-align: center;
	padding: 6px 0;
	height: 30px;
	cursor: pointer;
	&::after {
		content: '';
		display: inline-block;
		width: 12px;
		height: 12px;
		background-image: url("../img/pen-icon.png");
		background-repeat: no-repeat;
		vertical-align: middle;
		margin-left: 8px;
	}
}

.content-detail__selected-wrap {
	width: 100%;
	padding-left: 41px;
}

.content-detail-link {
	@include border-radius(20px);
	display: inline-block;
	text-align: center;
	font-family: museosans_700;
	font-size: 12px;
	border: solid $green 2px;
	color: $green;
	width: 152px;
	height: 30px;
	padding: 6px 0;
	margin-right: 15px;
}

.content-detail__txt {
	display: block;
	margin: 0;
	font-size: 14px;
	font-family: museosans_300;
	color: $light-black;
}

/* Sidebar */

.sidebar {
	@include border-radius(5px);
	padding: 32px 0 40px 0;
	display: inline-block;
	width: 250px;
	height: 513px;
	text-align: center;
	background-color: $light-black;
	margin: 0 0 30px 30px;
	vertical-align: top;
}

.sidebar__list {
	margin: 0;
	padding: 0;
	li {
		display: block;
		padding-bottom: 28px;
	}
}

.sidebar__profile-image {
	@include border-radius(60px);
	vertical-align: middle;
    display: inline-block;
    width: 60px;
    height: 60px;
    overflow: hidden;
    box-shadow: 0 0 0 8px #071b38, 0 0 0 9px #223653;
    img {
    	max-width: 100%;
    }
}

.sidebar__name {
	display: block;
	font-size: 22px;
	font-family: museosans_300;
	color: $white;
}

.sidebar__profile-link {
	font-family: museosans_700;
	font-size: 14px;
	color: $white;
	padding-bottom: 1px;
	border-bottom: solid 1px $white-light;
}

.switch-profile {
	position: relative;
}

.switch-profile-link {
	@include border-radius(5px);
	margin: 0 auto;
	width: 191px;
	height: 45px;
	display: flex;
	background-color: $deep-blue;
	border: solid 1px $white-light;
	text-align: center;
}

.switch-profile-link__txt {
	font-family: museosans_300;
	font-size: 14px;
	width: 145px;
	display: inline-block;
	color: $white;
	cursor: pointer;
	padding: 14px 17px 14px 12px;
	border-right: solid 1px $white-light;
	&::before {
		content: '';
		display: inline-block;
		width: 17px;
		height: 12px;
		background-image: url("../img/profile-icon.png");
		background-repeat: no-repeat;
		vertical-align: middle;
		margin-right: 7px;
	}
}

.switch-profile-link__icon-wrap {
	width: 44px;
	display: inline-block;
	text-align: center;
}

.switch-profile-link__icon-img {
	display: inline-block;
	vertical-align: middle;
	width: 10px;
	height: 5px;
	margin-top: 20px;
	background-image: url("../img/rectangle-icon-up.png");
}

.switch-profile__list {
	@include border-bottom-left-radius(5px);
	@include border-bottom-right-radius(5px);
	list-style: none;
	visibility: hidden;
  	opacity: 0;
  	transition: visibility 0s linear 300ms, opacity 300ms;
	display: block;
	margin: 0 auto;
	padding: 0;
	width: 191px;
	top: 43px;
	left: 0;
	right: 0;
	border: solid #d2d2d2 1px;
	display: block;
	position: absolute;
	li {
		background-color: $white;
		border-bottom: solid 1px #d2d2d2;
		padding: 10px;
		text-align: left;
		&:last-child {
			border-bottom: 0;
		}
	}
}

.switch-profile__image {
	@include border-radius(26px);
	display: inline-block;
	vertical-align: middle;
	overflow: hidden;
	margin-right: 9px;
	width: 26px;
	height: 26px;
}

.switch-profile__name {
	display: inline-block;
	vertical-align: middle;
	font-size: 14px;
	font-family: museosans_700;
	color: $dark-grey;
}

.book-wrap {
	text-align: center;
	margin-top: 30px;
	padding: 40px 0;
	border-top: solid 1px #344760;
}

.book__btn {
	@extend .tabcontent-btn__edit;
	font-size: 12px;
	padding: 10px 30px;
	&::after {
		padding-left: 16px;
		background-position-x: 16px;
	}
}

.book__list {
	margin: 0;
	padding: 0;
	list-style: none;
	li {
		font-size: 14px;
		font-family: museosans_700;
		color: $white;
		padding-bottom: 10px;
		display: block;
		&:first-child {
			margin-bottom: 30px;
		}
		&:last-child {
			padding-bottom: 4px;
			border-bottom: solid 1px $white-light;
			display: inline-block;
		}
	}
	.expires-date {
		font-family: museosans_300;
		padding-bottom: 20px;
	}
}

/* Offer Wrap */

.offer-wrap {
	@include border-radius(5px);
	@include box-shadow(0, 0, 11px, rgba(0, 0, 0, 0.20));
	position: relative;
	margin-top: 30px;
	width: 250px;
	background-color: $white;
	padding: 10px;
	&::before {
		content: '';
		top: 21px;
		left: -17px;
		position: absolute;
		width: 61px;
		height: 42px;
		background-image: url("../img/offer-icon.png");
	}
}

.offer-content {
	@include border-radius(5px);
	height: 169px;
	width: 230px;
	padding: 21px 0 30px 0;
	display:block;
	border: dashed 1px #d9d9d9;
	text-align: center;
}

.offer__title {
	font-size: 14px;
	font-family: museosans_700;
	line-height: 19px;
	color: $light-black;
	max-width: 116px;
	padding-bottom: 5px;
	display: block;
	margin: 0 auto;
}

.offer__price {
	font-family: museosans_300;
	font-size: 40px;
	display: block;
	color: $gold;
	padding-bottom: 5px;
}

.offer__btn {
	@extend .book__btn;
	display: inline-block;
}