
@media only screen and (max-width:991px) {

	/* Toggle Navigation */
	
	.toggle-nav {
		display: table-cell !important;
	}

	/* Header */

	.relative, .logo-text, .sidebar {
		display: none !important;
	}
	.logo {
		left: 0;
	    right: 0;
	    text-align: center;
	    width: 31px;
	    margin: 0 auto;
	    position: absolute;
	}
	.logo-image {
		position: absolute;
		left: 0;
	}
	.header {
		height: 79px;
		position: fixed;
    	top: 0;
    	z-index: 4;
	}

	/* Content */
	
	.content-detail {
		display: block;
		width: 100%;
	}
	.content {
		margin: 0;
	}
	.container {
		top: 79px;
		z-index: 1;
	}
	.content-detail {
		margin: 0 11px;
	}
	.content-detail__title {
		display: block;
		text-align: center;
		padding: 15px 0;
		border-bottom: solid 1px #f3f3f3;
		font-size: 17px;
		&::before {
			margin-right: 9px;
			width: 24px;
			height: 24px;
			background-image: url("../img/calendar-icon.png");
		}
	}
	.content-detail-link__edit {
		float: none;
		width: 100%;
	}
	.content-detail-link {
		display: block;
	}

	/* Tab Menu */

	.tab-menu {
		display: none;
	}

	.tab-menu-mobile {
		display: block;
	}

	/* Footer */
	footer {
		display: none;
	}
}
