$base : #F7F6F0 !default;
$darken : darken(#F7F6F0 , 30%);
$back: darken(#F7F6F0, 40%);
$white: #ffffff;

$background: #f4f4f4;
$blue: #004ffc;
$dark-blue: #0042f8;
$light-blue: #2b6eff;
$light-black: #081f3f;
$indigo-blue: #004ef9;
$deep-blue: #061934;
$gold: #ffb305;
$grey: #e2e2e2;
$dark-grey: #414141;
$white-blue: #4d84fe;
$white-light: #848f9f;
$orange: #ffb305;
$green: #26b96d;
$text-color: #767676;

$main-font: 'museosans_300';